[Unit]
Description=Lock screen before suspend
Before=sleep.target

[Service]
User=%I
Type=forking
Environment=DISPLAY=:0
ExecStart=$HOME/cfg/locker/locker
ExecStartPost=/bin/sleep 1

[Install]
WantedBy=suspend.target